/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Cardo', serif;
  color: #141301;
}

.background {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

.background::after {
  content: "";
  background: url("http://wallpapercave.com/wp/59C8TiU.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

html {
  box-sizing: border-box;
}

.teams {
  display: inline-block;
  width: 40%;
  height: 50%;
  text-align: center;
  margin-top: 3em;
  margin-left: 3em;
  color: black;
  background: rgba(211, 203, 183, 0.6);
  padding: 10px;
  border-radius: 10px;
}

.teams img {
  width: 30%;
  border-radius: 5px;
  border: 2px solid black;
}

.header {
  text-align: center;
  color: black;
  padding: 1em;
}

a {
  text-decoration: none;
}

.team {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  background: rgba(211, 203, 183, 0.6);
  border-radius: 10px;
  color: black;
}

.team img {
  width: 40%;
  border-radius: 5px;
  border: 2px solid black;

}
.teamPlayers {
  display: inline-block;
  width: 40%;
  text-align: center;
  background: rgba(	211, 203, 183, 0.6);
  border-left: 5px solid black;
}

.flash {
  background: #D8D0C1;
  text-align: center;
  color: #001011;
}
